<div class="widget Image" id="Image1">
<div class="widget-content">
<a href="http://banner1.com">
<img alt="" height="472" id="Image1_img" src="http://1.bp.blogspot.com/-q_p3rSDbSNM/T_8GbiGZCqI/AAAAAAAAAB0/BV90KZWN5t0/s1600/1.jpg" width="168">
</a>
<br>
</div>
<div class="clear"></div>
<span class="widget-item-control">
<span class="item-control blog-admin">
<a class="quickedit" href="//www.blogger.com/rearrange?blogID=9071745704445146524&amp;widgetType=Image&amp;widgetId=Image1&amp;action=editWidget&amp;sectionId=sidebar-left" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Image1&quot;));" target="configImage1" title="Editar">
<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
</a>
</span>
</span>
<div class="clear"></div>
</div>
