<b:widget id='HTML1' locked='true' title='Search' type='HTML'>
  <b:includable id='main'>
    <div class="widget-content search">
      <form method="get" action="/search">
        <button>search</button>
        <input placeholder="BUSCAR" type="text" name="q" />
      </form>
      </div>
  </b:includable>
</b:widget>

