.widget.BlogArchive
  .widget-content
    margin-top: 15px
    #ArchiveList //to win over default css
      @extend .courier
      .hierarchy //one ul per year
        .archivedate
          margin: 0 0 6px 0
          padding: 0
          text-indent: 0
          position: relative
          background: #dedcdd
          overflow: hidden
          .toggle
            position: absolute
            right: 11px
            top: 0
            height: 36px
            line-height: 36px
            width: 28px
            text-align: right
            .zippy
              @extend .arrows-dark-pink
          .post-count-link //year number
            color: #4d4d4d
            text-indent: 6px
            border: 1px solid white
            display: block
            margin: 2px
            height: 30px
            line-height: 30px
          .post-count
            display: none


        .archivedate.collapsed //year collapsed
          .hierarchy
            display: none //or height 0

        .archivedate.expanded
          background: none
          .toggle
            .zippy
              @extend .arrows-white            
              +rotate(90deg)
          .post-count-link //year number
            background: #00adb5          
            color: #fff
            border: 3px solid #dbefdb
            margin: 0
          .hierarchy //again: one ul per month
            .archivedate
              margin: 12px 0 0
              background: none
              
              .post-count-link //month text
                line-height: 20px
                color: #4d4d4d
                border: 0
                display: inline
                height: 22px
                background: none
              .post-count
                display: inline
                color: #00adb5
                font-size: 12px

