@import 'compass'
@import "partials/mobile"

#header
  .title
    @extend .bauer
    margin-bottom: 35px
    text-align: center
    font-size: 75px
    +text-shadow(#c8c7c7 2px 2px 0)
    +mobile
      font-size: 40px
    a
      color: #000
  .navbar
    border-top: 1px
    border-bottom: 1px
    border-color: #808080
    border-style: dotted
    text-align: center
    width: 100%
    height: auto
    overflow: hidden
    +mobile
      width: 86%
      margin: 0 7%
      padding: 9px 0
    a
      +mobile
        height: 39px
        width: 100%
        float: none
        line-height: 39px
        text-align: left
        font-size: 14px
      color: #7d7d7d
      font-size: 16px
      display: block
      height: 72px
      width: 33%
      float: left
      line-height: 72px
      text-align: center
      &:before
        background: image-url("navbar-arrows.png") no-repeat
        content: ""
        +inline-block
        height: 30px
        width: 30px
        margin-top: 5px
      &:hover:before
        background-position: 0 -30px
      &.que-hace-link
        text-align: left
      &.compras-link
        text-align: right
        +mobile
          text-align: left

//style 'active' submenu link
body.biblioteca #header .navbar .biblioteca-link,
body.compras #header .navbar .compras-link,
body.que-hace #header .navbar .que-hace-link,
  &:before
    background-position: 4px -30px
    +transform(rotate(90deg) scaleY(-1))
  color: #1a1a1a
