@import "compass"

@import "footer/*.png"

$footer-sprite-dimensions: true

+all-footer-sprites

.footer-sprite
  text-indent: -9999px
  display: block

@import "arrows/*.png"

$arrows-sprite-dimensions: true

+all-arrows-sprites

@import "date-bg/*.png"
$date-bg-sprite-dimensions: true

+all-date-bg-sprites

.date-bg-sprite
  display: block

@import "links-bg/*.png"

$links-bg-sprite-dimensions: true

+all-links-bg-sprites

.links-bg-sprite
  display: block  


@import "search/*.png"

$search-sprite-dimensions: true

+all-search-sprites

.search-sprite
  display: block
