.BlogArchive #ArchiveList ul {
  width: 169px;
}

.BlogArchive #ArchiveList ul li {
  margin: 0.4em 0 !important;  
  padding-left: 0 !important;
  text-indent: 0 !important;
}

.widget.BlogArchive .widget-content #ArchiveList .hierarchy .archivedate > a:nth-child(0n+2) {
  box-shadow: 0 0 0 1px white inset;  
  display: block;
  padding-left: 5px;
  width: 160px;  
}

.widget.BlogArchive .widget-content #ArchiveList .hierarchy .archivedate.expanded > a:nth-child(0n+2) {
  background: url("../img/archive-arrows.png") no-repeat scroll right -128px #00adb5 !important;  
  border: 2px solid #dbefdb;
  color: #fff !important;
  margin-bottom: 11px;
}

.widget.BlogArchive .widget-content #ArchiveList .hierarchy .collapsed:first-child {
  background: url("../img/archive-arrows.png") no-repeat scroll right 0 #dedcdd !important;
  border: 2px solid #dedcdd;
}

.widget.BlogArchive .widget-content #ArchiveList .hierarchy .collapsed:first-child:hover {
  background-color: #00adb5 !important;
  background-position: right -96px !important;
  border: 2px solid #dbefdb;
}

.widget.BlogArchive .widget-content #ArchiveList .hierarchy .collapsed:first-child a:hover {
  color: #fff !important;
}

.widget.BlogArchive .widget-content #ArchiveList .hierarchy .archivedate.expanded .hierarchy:first-child {
  margin-top: 10px;
}

.widget.BlogArchive .widget-content #ArchiveList .hierarchy .archivedate.expanded .hierarchy .archivedate.collapsed,
.BlogArchive #ArchiveList ul li ul li.collapsed {
  background: none repeat scroll 0 0 transparent !important;
  border: 0 none !important;
  box-shadow: none;
  height: 22px;
}

.widget.BlogArchive .widget-content .hierarchy .archivedate .post-count-link {
  color: #000 !important;
  font-size: 18px;
}

.widget.BlogArchive .widget-content .hierarchy .archivedate .toggle, 
.widget.BlogArchive .widget-content .hierarchy .archivedate .post-count {
  display: none;
}

.widget.BlogArchive .widget-content .hierarchy .archivedate .hierarchy .archivedate .post-count-link {
  color: #4d4d4d !important;
  font-size: 12px;
}

.widget.BlogArchive .widget-content #ArchiveList .hierarchy .archivedate .hierarchy .archivedate.collapsed .post-count-link:hover {
  color: #4d4d4d !important;
}

.widget.BlogArchive .widget-content .hierarchy .archivedate .hierarchy .archivedate .post-count {
  color: #00adb5;
  display: inline;
  font-size: 12px;
}
