<div class="widget BlogArchive" id="BlogArchive1">
<h2>Archivo</h2>
<div class="widget-content">
<div id="ArchiveList">
<div id="BlogArchive1_ArchiveList">
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="toggle" href="javascript:void(0)">
<span class="zippy">

          ►&nbsp;
        
</span>
</a>
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/search?updated-min=2009-01-01T00:00:00-08:00&amp;updated-max=2010-01-01T00:00:00-08:00&amp;max-results=17">2009</a>
<span class="post-count" dir="ltr">(17)</span>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2009_07_01_archive.html">julio</a>
<span class="post-count" dir="ltr">(2)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2009_08_01_archive.html">agosto</a>
<span class="post-count" dir="ltr">(6)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2009_09_01_archive.html">septiembre</a>
<span class="post-count" dir="ltr">(6)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2009_10_01_archive.html">octubre</a>
<span class="post-count" dir="ltr">(3)</span>
</li>
</ul>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="toggle" href="javascript:void(0)">
<span class="zippy">

          ►&nbsp;
        
</span>
</a>
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/search?updated-min=2010-01-01T00:00:00-08:00&amp;updated-max=2011-01-01T00:00:00-08:00&amp;max-results=25">2010</a>
<span class="post-count" dir="ltr">(25)</span>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2010_02_01_archive.html">febrero</a>
<span class="post-count" dir="ltr">(6)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2010_03_01_archive.html">marzo</a>
<span class="post-count" dir="ltr">(13)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2010_04_01_archive.html">abril</a>
<span class="post-count" dir="ltr">(6)</span>
</li>
</ul>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="toggle" href="javascript:void(0)">
<span class="zippy">

          ►&nbsp;
        
</span>
</a>
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/search?updated-min=2011-01-01T00:00:00-08:00&amp;updated-max=2012-01-01T00:00:00-08:00&amp;max-results=1">2011</a>
<span class="post-count" dir="ltr">(1)</span>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2011_10_01_archive.html">octubre</a>
<span class="post-count" dir="ltr">(1)</span>
</li>
</ul>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate expanded">
<a class="toggle" href="javascript:void(0)">
<span class="zippy toggle-open">▼&nbsp;</span>
</a>
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/search?updated-min=2012-01-01T00:00:00-08:00&amp;updated-max=2013-01-01T00:00:00-08:00&amp;max-results=50">2012</a>
<span class="post-count" dir="ltr">(54)</span>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2012_02_01_archive.html">febrero</a>
<span class="post-count" dir="ltr">(6)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2012_03_01_archive.html">marzo</a>
<span class="post-count" dir="ltr">(17)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2012_04_01_archive.html">abril</a>
<span class="post-count" dir="ltr">(8)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2012_05_01_archive.html">mayo</a>
<span class="post-count" dir="ltr">(8)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate collapsed">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2012_06_01_archive.html">junio</a>
<span class="post-count" dir="ltr">(7)</span>
</li>
</ul>
<ul class="hierarchy">
<li class="archivedate expanded">
<a class="post-count-link" href="http://flora-test.blogspot.com.ar/2012_07_01_archive.html">julio</a>
<span class="post-count" dir="ltr">(8)</span>
</li>
</ul>
</li>
</ul>
</div>
</div>
<div class="clear"></div>
<span class="widget-item-control">
<span class="item-control blog-admin">
<a class="quickedit" href="//www.blogger.com/rearrange?blogID=9071745704445146524&amp;widgetType=BlogArchive&amp;widgetId=BlogArchive1&amp;action=editWidget&amp;sectionId=sidebar-left" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;BlogArchive1&quot;));" target="configBlogArchive1" title="Editar">
<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
</a>
</span>
</span>
<div class="clear"></div>
</div>
</div>
