<div id="footer">
  <div class="left">
    <ul class="social-links">
      <li><a class="footer-fb" href="#">Facebook</a></li>
      <li><a class="footer-tw" href="#">Twitter</a></li>
      <li><a class="footer-rss" href="#">Rss</a></li>
    </ul>
    <div class="contact">
      <h6>contacto</h6>
      <a class="email" href="mailto:florgrzetic@gmail.com" >
        <span>florgrzetic@gmail.com</span>
      </a>
    </div>
  </div>
  <div class="center">
    <h2><a href="/">eso es muy flora</a></h2>
    <p>by flora grzetic is licensed under a Creative Commons.</p>
    <p>Reconocimiento -No comercial- Sin obras derivadas 2.5 Argentina License.</p>
    <p>Based on a work at www.esoesmuyﬂora.blogspot.com</p>
    <ul class="license">
      <li><a class="footer-l-cc" href="#">CC</a></li>
      <li><a class="footer-l-by" href="#">BY</a></li>
      <li><a class="footer-l-nc" href="#">NC</a></li>
    </ul>
  </div>
  <div class="right">
    <ul class="partners">
      <li><a class="footer-otc" href="#">On the Corner</a></li>
      <li><a class="footer-crudo" href="#">Crudo</a></li>
      <li><a class="footer-diseno" href="#">Diseño</a></li>
    </ul>
  </div>
</div>

