<div id="header">
  <h1 class="title"><a href="/">eso es muy flora</a></h1>
  <div class="navbar">
    <a href="/p/que-hace-esta-chica.html" class="que-hace-link">¿qué hace esta chica?</a>
    <a href="/search/label/biblioteca" class="biblioteca-link">La biblioteca de flora</a>
    <a href="/p/flora-va-de-compras.html" class="compras-link">flora va de compras</a>
  </div>
</div>

