<div id="header">
  <h1 class="title"><a href="/">eso es muy flora</a></h1>
  <div class="navbar">
    <a href="#" class="active">¿qué hace esta chica?</a>
    <a href="/search/label/biblioteca">La biblioteca de flora</a>
    <a href="#">flora va de compras</a>
  </div>
</div>

