<div class="main section" id="main"><div class="widget Blog" id="Blog1">
<div id="blog-pager" style="display:none">
<a class="older" href="http://onthecornerstreetstyle.blogspot.com/search?updated-max=2012-03-06T10:12:00-03:00&amp;max-results=7"></a>
</div>
<div class="post-outer news">
<div class="post-labels">
<div class="especiales otc"></div>
</div>
<div class="post hentry">
<a name="8944770280768622304"></a>
<div class="timestamp">
miércoles, marzo 14, 2012
</div>
<h3 class="upper">especiales otc</h3>
<a id="test" href="#" target="_blank" title="compartir en facebook">TEST!</a>
<h2 class="upper"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/baf-week-inv-012-cap-1_5931.html">baf week inv. 012 // cap. 1</a></h2>
<div class="post-body">
<iframe src="http://player.vimeo.com/video/38481331?title=0&amp;portrait=0&amp;color=ff9933" width="480" height="270" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</div>
<h2 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/baf-week-inv-012-cap-1_5931.html">baf week inv. 012 // cap. 1</a></h2>
<h3 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/baf-week-inv-012-cap-1_5931.html"></a></h3>
<div class="share-comments">
<div class="buttons">
<a class="share" href="">
<span class="icon"></span>
<span class="label">compartir</span>
</a>
<a class="comments" href="http://onthecornerstreetstyle.blogspot.com/2012/03/baf-week-inv-012-cap-1_5931.html">
<span class="icon">1</span>
<span class="label">comentario</span>
</a>
</div>
<div class="share-links">
<a class="twitter" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=8944770280768622304&amp;target=twitter" target="_blank" title="compartir en twitter">
<span class="icon"></span>
<span class="label">twitter</span>
</a>
<a class="facebook" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=8944770280768622304&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
<span class="icon"></span>
<span class="label">facebook</span>
</a>
<a class="mail" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=8944770280768622304&amp;target=email" target="_blank" title="compartir por email">
<span class="icon"></span>
<span class="label">mail</span>
</a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<div class="post hentry">
<a name="3412888131163390038"></a>
<div class="timestamp">
martes, marzo 13, 2012
</div>
<h3 class="upper"></h3>
<h2 class="upper"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/cintia-25-anos-disenadora-de-camelot.html">cintia, 25 años, diseñadora de Camelot.</a></h2>
<div class="post-body">
<div class="separator" style="clear: both; text-align: center;">
<a href="http://2.bp.blogspot.com/-KNH9Rt4u7VE/T1_G-ZaSX7I/AAAAAAAAEFs/e_xNWi1wIio/s1600/otc_cintia.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://2.bp.blogspot.com/-KNH9Rt4u7VE/T1_G-ZaSX7I/AAAAAAAAEFs/e_xNWi1wIio/s1600/otc_cintia.jpg"></a></div>
<br>
</div>
<h2 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/cintia-25-anos-disenadora-de-camelot.html">cintia</a></h2>
<h3 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/cintia-25-anos-disenadora-de-camelot.html"> 25 años, diseñadora de Camelot.</a></h3>
<div class="share-comments">
<div class="buttons">
<a class="share" href="">
<span class="icon"></span>
<span class="label">compartir</span>
</a>
<a class="comments" href="http://onthecornerstreetstyle.blogspot.com/2012/03/cintia-25-anos-disenadora-de-camelot.html">
<span class="icon">0</span>
<span class="label">comentarios</span>
</a>
</div>
<div class="share-links">
<a class="twitter" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=3412888131163390038&amp;target=twitter" target="_blank" title="compartir en twitter">
<span class="icon"></span>
<span class="label">twitter</span>
</a>
<a class="facebook" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=3412888131163390038&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
<span class="icon"></span>
<span class="label">facebook</span>
</a>
<a class="mail" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=3412888131163390038&amp;target=email" target="_blank" title="compartir por email">
<span class="icon"></span>
<span class="label">mail</span>
</a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<div class="post hentry">
<a name="2428408259980526712"></a>
<div class="timestamp">
martes, marzo 13, 2012
</div>
<h3 class="upper"></h3>
<h2 class="upper"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/simonne-29-anos-vendedora-de-ropa.html">simonne, 29 años, vendedora de ropa.</a></h2>
<div class="post-body">
<a href="http://4.bp.blogspot.com/-ZcW6WiFx6Qo/T19kQQEh3hI/AAAAAAAAEFk/mKVPJrJHPaE/s1600/otc_simonne.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;" class="photo-container"><img border="0" src="http://4.bp.blogspot.com/-ZcW6WiFx6Qo/T19kQQEh3hI/AAAAAAAAEFk/mKVPJrJHPaE/s1600/otc_simonne.jpg"><span class="caption-wrapper"><span class="caption-container"><span class="caption">vestido: religion &nbsp;| calzado: dr. martens&nbsp;| lentes: absurda</span></span></span></a>
</div>
<h2 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/simonne-29-anos-vendedora-de-ropa.html">simonne</a></h2>
<h3 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/simonne-29-anos-vendedora-de-ropa.html"> 29 años, vendedora de ropa.</a></h3>
<div class="share-comments">
<div class="buttons">
<a class="share" href="">
<span class="icon"></span>
<span class="label">compartir</span>
</a>
<a class="comments" href="http://onthecornerstreetstyle.blogspot.com/2012/03/simonne-29-anos-vendedora-de-ropa.html">
<span class="icon">1</span>
<span class="label">comentario</span>
</a>
</div>
<div class="share-links">
<a class="twitter" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=2428408259980526712&amp;target=twitter" target="_blank" title="compartir en twitter">
<span class="icon"></span>
<span class="label">twitter</span>
</a>
<a class="facebook" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=2428408259980526712&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
<span class="icon"></span>
<span class="label">facebook</span>
</a>
<a class="mail" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=2428408259980526712&amp;target=email" target="_blank" title="compartir por email">
<span class="icon"></span>
<span class="label">mail</span>
</a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<div class="post hentry">
<a name="9045767677058873720"></a>
<div class="timestamp">
lunes, marzo 12, 2012
</div>
<h3 class="upper"></h3>
<h2 class="upper"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/alina_12.html">Alina &amp; Jackie</a></h2>
<div class="post-body">
<a href="http://4.bp.blogspot.com/-9LlLucO1aNs/T14d4dvsK1I/AAAAAAAAEFM/0QgTwk3UqRU/s1600/otc_alina_jackie_1.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;" class="photo-container"><img border="0" src="http://4.bp.blogspot.com/-9LlLucO1aNs/T14d4dvsK1I/AAAAAAAAEFM/0QgTwk3UqRU/s1600/otc_alina_jackie_1.jpg"><span class="caption-wrapper"><span class="caption-container"><span class="caption"><span style="font-size: x-small;"><span style="font-family: inherit;">Pantalón: alexander mcqueen&nbsp;</span>&nbsp;| sweater: emma cook |&nbsp;&nbsp;</span><br>
<span style="font-family: inherit; font-size: x-small;">Túnica: chocolate&nbsp;| sombrero: urban outfitters&nbsp;|&nbsp;</span><br>
<span style="font-family: inherit; font-size: x-small;">calzado: félix</span></span></span></span></a>
<br>
</div>
<h2 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/alina_12.html">Alina &amp; Jackie</a></h2>
<h3 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/alina_12.html"></a></h3>
<div class="share-comments">
<div class="buttons">
<a class="share" href="">
<span class="icon"></span>
<span class="label">compartir</span>
</a>
<a class="comments" href="http://onthecornerstreetstyle.blogspot.com/2012/03/alina_12.html">
<span class="icon">6</span>
<span class="label">comentarios</span>
</a>
</div>
<div class="share-links">
<a class="twitter" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=9045767677058873720&amp;target=twitter" target="_blank" title="compartir en twitter">
<span class="icon"></span>
<span class="label">twitter</span>
</a>
<a class="facebook" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=9045767677058873720&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
<span class="icon"></span>
<span class="label">facebook</span>
</a>
<a class="mail" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=9045767677058873720&amp;target=email" target="_blank" title="compartir por email">
<span class="icon"></span>
<span class="label">mail</span>
</a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<div class="post hentry">
<a name="8482301064737621865"></a>
<div class="timestamp">
viernes, marzo 09, 2012
</div>
<h3 class="upper"></h3>
<h2 class="upper"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/marcial-60-anos-disenador.html">marcial, 60 años, diseñador.</a></h2>
<div class="post-body">
<a href="http://3.bp.blogspot.com/-v7rFjOO9iF4/T1qsP6Pc-7I/AAAAAAAAEE8/k9sOtfpcUXs/s1600/otc_marcial.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;" class="photo-container"><img border="0" src="http://3.bp.blogspot.com/-v7rFjOO9iF4/T1qsP6Pc-7I/AAAAAAAAEE8/k9sOtfpcUXs/s1600/otc_marcial.jpg"><span class="caption-wrapper"><span class="caption-container"><span class="caption">saco: keydge&nbsp;| camisa: uniqlo</span></span></span></a>
<br>
</div>
<h2 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/marcial-60-anos-disenador.html">marcial</a></h2>
<h3 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/marcial-60-anos-disenador.html"> 60 años, diseñador.</a></h3>
<div class="share-comments">
<div class="buttons">
<a class="share" href="">
<span class="icon"></span>
<span class="label">compartir</span>
</a>
<a class="comments" href="http://onthecornerstreetstyle.blogspot.com/2012/03/marcial-60-anos-disenador.html">
<span class="icon">1</span>
<span class="label">comentario</span>
</a>
</div>
<div class="share-links">
<a class="twitter" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=8482301064737621865&amp;target=twitter" target="_blank" title="compartir en twitter">
<span class="icon"></span>
<span class="label">twitter</span>
</a>
<a class="facebook" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=8482301064737621865&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
<span class="icon"></span>
<span class="label">facebook</span>
</a>
<a class="mail" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=8482301064737621865&amp;target=email" target="_blank" title="compartir por email">
<span class="icon"></span>
<span class="label">mail</span>
</a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<div class="post hentry">
<a name="9159487768327796426"></a>
<div class="timestamp">
martes, marzo 06, 2012
</div>
<h3 class="upper"></h3>
<h2 class="upper"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/anita-24-anos-actriz.html">Anita, 24 años, actriz.</a></h2>
<div class="post-body">
<a href="http://1.bp.blogspot.com/-0ODEEu4MgpE/T1aKi35hI4I/AAAAAAAAEE0/nrUdkUUA0aA/s1600/otc_anita.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;" class="photo-container"><img border="0" src="http://1.bp.blogspot.com/-0ODEEu4MgpE/T1aKi35hI4I/AAAAAAAAEE0/nrUdkUUA0aA/s1600/otc_anita.jpg"><span class="caption-wrapper"><span class="caption-container"><span class="caption">top: them&nbsp;| pollera: sin marca<br>calzado: desiderata</span></span></span></a>
<br>
</div>
<h2 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/anita-24-anos-actriz.html">Anita</a></h2>
<h3 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/anita-24-anos-actriz.html"> 24 años, actriz.</a></h3>
<div class="share-comments">
<div class="buttons">
<a class="share" href="">
<span class="icon"></span>
<span class="label">compartir</span>
</a>
<a class="comments" href="http://onthecornerstreetstyle.blogspot.com/2012/03/anita-24-anos-actriz.html">
<span class="icon">6</span>
<span class="label">comentarios</span>
</a>
</div>
<div class="share-links">
<a class="twitter" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=9159487768327796426&amp;target=twitter" target="_blank" title="compartir en twitter">
<span class="icon"></span>
<span class="label">twitter</span>
</a>
<a class="facebook" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=9159487768327796426&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
<span class="icon"></span>
<span class="label">facebook</span>
</a>
<a class="mail" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=9159487768327796426&amp;target=email" target="_blank" title="compartir por email">
<span class="icon"></span>
<span class="label">mail</span>
</a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<div class="post hentry">
<a name="1947777257537050698"></a>
<div class="timestamp">
martes, marzo 06, 2012
</div>
<h3 class="upper"></h3>
<h2 class="upper"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/ali-24-anos-fotografa.html">Ali, 24 años, fotógrafa.</a></h2>
<div class="post-body">
<a href="http://1.bp.blogspot.com/-X1LA4PzAeA8/T1YM44PfM0I/AAAAAAAAEEs/7JgNRLFIz0U/s1600/otc_ali.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;" class="photo-container"><img border="0" src="http://1.bp.blogspot.com/-X1LA4PzAeA8/T1YM44PfM0I/AAAAAAAAEEs/7JgNRLFIz0U/s1600/otc_ali.jpg"><span class="caption-wrapper"><span class="caption-container"><span class="caption">camiseta: vintage&nbsp;| short: mishka<br>calzado: a.y. not dead | anillos: anndra neen</span></span></span></a>
<br>
</div>
<h2 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/ali-24-anos-fotografa.html">Ali</a></h2>
<h3 class="lower"><a href="http://onthecornerstreetstyle.blogspot.com/2012/03/ali-24-anos-fotografa.html"> 24 años, fotógrafa.</a></h3>
<div class="share-comments">
<div class="buttons">
<a class="share" href="">
<span class="icon"></span>
<span class="label">compartir</span>
</a>
<a class="comments" href="http://onthecornerstreetstyle.blogspot.com/2012/03/ali-24-anos-fotografa.html">
<span class="icon">4</span>
<span class="label">comentarios</span>
</a>
</div>
<div class="share-links">
<a class="twitter" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=1947777257537050698&amp;target=twitter" target="_blank" title="compartir en twitter">
<span class="icon"></span>
<span class="label">twitter</span>
</a>
<a class="facebook" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=1947777257537050698&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
<span class="icon"></span>
<span class="label">facebook</span>
</a>
<a class="mail" href="http://www.blogger.com/share-post.g?blogID=4049043576605538433&amp;postID=1947777257537050698&amp;target=email" target="_blank" title="compartir por email">
<span class="icon"></span>
<span class="label">mail</span>
</a>
</div>
</div>
</div>
</div>
</div></div>
