<div id="pager">
  <a class="page newer" href="#" title="Entradas más recientes">ENTRADAS RECIENTES</a>
  <a class="home" href="index.php">PÁGINA PRINCIPAL</a>
  <a class="page older" href="#" title="Entradas antiguas">ENTRADAS ANTIGUAS</a>
</div>
