<div class="post-outer">
<div class="post-labels">
<div class="biblioteca"></div>
</div>
<a name="3545787256213562445"></a>
<h4>
<span class="date">lunes, 23 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/te-arrancaria-la-cabeza-como-hizo-ozzy.html">Te arrancaría la cabeza como hizo ozzy osbourne</a></h2>
<div class="post-body">
<br>
<center style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/bandera.jpg"></center><br>
De chica me encantaba acompañar al banco a mi mamá porque me robaba las boletas de depósito del banco Lloyd´s para jugar en mi casa. Hoy fui a hacer un trámite y los odié. Los odié, los odié. Y mientras los odiaba, me puse a pensar en el cliente. En que yo y un montón de personas más somos clientes, y no me están tratando muy bien y no me están solucionando los problemas que estoy teniendo. Estoy en crisis con mi banco. Y pensé, bueno capaz es porque el trato que llevamos es medio informal dentro de lo formal y por eso es que por ahí no me tratan como yo veía que la trataban a mi vieja cuando íbamos al banco. Obvio, no es lo mismo. Pero no me gustó porque no me están ayudando. Además de eso, estuve esperando un rato largo. Al chico que llegó después que yo lo atendieron antes y una mina que llegó de afuera "paso a saludar", preguntó si la podían atender, el que atiende le dijo que tenía otras personas antes que ella, O SEA YO (porque no había nadie más). Y la atendió igual...estaba pintada. Después de que le pregunté a la recepcionista quien me tenía que atender, porque capaz que no era el que atendió a la colada, me atiende una chica que no se hace cuanto trabajaba ahí, pero tuvo que consultar con otra persona todo lo que le pregunté. Además me miraba como con miedo. Yo no estaba histérica, solamente estaba apurada y medio indignada porque se me había colado una mina y estaban tardando en atenderme, además de todo lo que no me están solucionando. En síntesis, me fui sin que me solucionen nada. Ahora odio ir al banco..<br>
Cambiando de tema, como verán tengo calzas nuevas y son super cómodas, calentitas y el estampado esta muy bien hecho. Son de Fantasy Seven, y para las que no fueron a la feria y quieren unas, siempre pueden escribir y preguntar si hay, o donde se consiguen. En este estampado también hay unas remeras. Pronto van a poder ver el lookbook.<br>
<span style="background-color: white;">Y hoy, conseguí este hermoso librito del cual ya sabía su existencia. El autor es un antiguo compañero de facultad que durante todos los años que lo ví, siempre me llamó la atención. Es una persona super creativa, alegre y especial. Es uno de los humus, de cine humus. Grupo de cine que hace cortos y películas muy muy lindas y para todos. Les dejo los links porque no tienen desperdicio: </span><a href="http://www.cinehumus.com.ar/">Cine Humus</a><span style="background-color: white;"> &amp; </span><a href="http://tanlargaspestagnas.wordpress.com/">Tan largas Pestagnas</a><span style="background-color: white;">. Cine lindo y chistes, lo ideal para alegrar cualquier momento. Me hubiera venido genial acordarme que lo tenía mientras estaba en el banco.&nbsp;</span><br>
<br>
<br>
<br>
   <br>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style=""><tbody>
<tr><td style="text-align: center;"><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/bandera3.jpg" style="margin-left: auto; margin-right: auto;"></td></tr>
<tr><td class="tr-caption" style="">(calza fantasy seven, buzo sin marca, campera blackmamba, gorro vulk, zapas puma)</td></tr>
</tbody></table>
<br>
<br>
<br>
<br>
<center><br><br><span style="font-family: Georgia, 'Times New Roman', serif;"><br></span></center>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>3</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
<div class="biblioteca"></div>
</div>
<a name="3545787256213562445"></a>
<h4>
<span class="date">lunes, 23 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/te-arrancaria-la-cabeza-como-hizo-ozzy.html">Te arrancaría la cabeza como hizo ozzy osbourne</a></h2>
<div class="post-body">
<br>
<center style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/bandera.jpg"></center><br>
De chica me encantaba acompañar al banco a mi mamá porque me robaba las boletas de depósito del banco Lloyd´s para jugar en mi casa. Hoy fui a hacer un trámite y los odié. Los odié, los odié. Y mientras los odiaba, me puse a pensar en el cliente. En que yo y un montón de personas más somos clientes, y no me están tratando muy bien y no me están solucionando los problemas que estoy teniendo. Estoy en crisis con mi banco. Y pensé, bueno capaz es porque el trato que llevamos es medio informal dentro de lo formal y por eso es que por ahí no me tratan como yo veía que la trataban a mi vieja cuando íbamos al banco. Obvio, no es lo mismo. Pero no me gustó porque no me están ayudando. Además de eso, estuve esperando un rato largo. Al chico que llegó después que yo lo atendieron antes y una mina que llegó de afuera "paso a saludar", preguntó si la podían atender, el que atiende le dijo que tenía otras personas antes que ella, O SEA YO (porque no había nadie más). Y la atendió igual...estaba pintada. Después de que le pregunté a la recepcionista quien me tenía que atender, porque capaz que no era el que atendió a la colada, me atiende una chica que no se hace cuanto trabajaba ahí, pero tuvo que consultar con otra persona todo lo que le pregunté. Además me miraba como con miedo. Yo no estaba histérica, solamente estaba apurada y medio indignada porque se me había colado una mina y estaban tardando en atenderme, además de todo lo que no me están solucionando. En síntesis, me fui sin que me solucionen nada. Ahora odio ir al banco..<br>
Cambiando de tema, como verán tengo calzas nuevas y son super cómodas, calentitas y el estampado esta muy bien hecho. Son de Fantasy Seven, y para las que no fueron a la feria y quieren unas, siempre pueden escribir y preguntar si hay, o donde se consiguen. En este estampado también hay unas remeras. Pronto van a poder ver el lookbook.<br>
<span style="background-color: white;">Y hoy, conseguí este hermoso librito del cual ya sabía su existencia. El autor es un antiguo compañero de facultad que durante todos los años que lo ví, siempre me llamó la atención. Es una persona super creativa, alegre y especial. Es uno de los humus, de cine humus. Grupo de cine que hace cortos y películas muy muy lindas y para todos. Les dejo los links porque no tienen desperdicio: </span><a href="http://www.cinehumus.com.ar/">Cine Humus</a><span style="background-color: white;"> &amp; </span><a href="http://tanlargaspestagnas.wordpress.com/">Tan largas Pestagnas</a><span style="background-color: white;">. Cine lindo y chistes, lo ideal para alegrar cualquier momento. Me hubiera venido genial acordarme que lo tenía mientras estaba en el banco.&nbsp;</span><br>
<br>
<br>
<br>
   <br>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style=""><tbody>
<tr><td style="text-align: center;"><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/bandera3.jpg" style="margin-left: auto; margin-right: auto;"></td></tr>
<tr><td class="tr-caption" style="">(calza fantasy seven, buzo sin marca, campera blackmamba, gorro vulk, zapas puma)</td></tr>
</tbody></table>
<br>
<br>
<br>
<br>
<center><br><br><span style="font-family: Georgia, 'Times New Roman', serif;"><br></span></center>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>3</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>
