<div class="post-outer">
  <div class="post-labels"></div>
  <h4 class="fecha">sábado 28 de enro de 2012</h4>
  <h2><a href="#">dormir y mirar seinfeld.-</a></h2>


<div class="post-body">
El domingo post-masa crítica tuve tanta suerte que se me pincharon ambas cámaras de la bici. Sí, las 2 al mismo tiempo. Me dí cuenta porque el manubrio estaba rarísimo, como que me tiraba para un costado y no entendía nada. Me bajo, veo que esta completamente desinﬂada al ras del piso, la inﬂo...se queda. Veo la de atrás, desinﬂada también, la inﬂo, no se inﬂa. En el inter in de que la estoy inﬂando, la pollera del vestido se me engancha con el pedal de la bici de mi amiga Nat. Se me ve un poquito el culo, esta bien. Encaro para una estación de servicio y entonces veo un pelado con un le pregunto si me lleva hasta mi casa. Me dice que no, que me deja en el mercado de pulgas adonde va el y no me cobra nada. <br>
<br>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto;"><tbody>
<tr><td><br>
<br>
<br>
<br>
<a href="http://4.bp.blogspot.com/-ERhTsG8rmwg/T_8CS2jQ68I/AAAAAAAAABY/YtKLUOYXQyw/s1600/imagen-post-01.png" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="640" src="http://4.bp.blogspot.com/-ERhTsG8rmwg/T_8CS2jQ68I/AAAAAAAAABY/YtKLUOYXQyw/s640/imagen-post-01.png" width="412"></a></td></tr>
<tr><td class="tr-caption"><br><br>(vestido hecho pollera complot, bodys la noche, cinturón sin marca, zapas puma, bandana dts) <br><br></td></tr>
</tbody></table>
</div>

  <div class="post-social">
    <div class="post-social-left">
      <a class="comment-link" href="#"><span>6</span> COMENTARIOS</a>
    </div>
    <div class="post-social-right">
      <p>COMPARTIR</p>
      <div class="redes">
        <a class="fb" href="#">FACEBOOK</a>
        <a class="tw" href="#">TWITTER</a>
      </div>
    </div>
  </div>
</div>





