<div class="post-outer">
<div class="post-labels">
</div>
<a name="1291224724593340251"></a>
<h4>
<span class="date">miércoles, 25 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/comprar-planes-futuros.html">Comprar planes futuros</a></h2>
<div class="post-body">
No, no voy a comprar una propiedad. Me compré este vestido a $45 en juan perez solamente para reformarlo porque el estampado de la tela no tiene desperdicio. Me gusta así también, pero me siento muy tapada y con demasiado volado. Por eeeeeeeeso lo mandé a la modista y como ven: el resultado es otro. O da a matrona o da a vestido actual con tela copada.<br>
<br>
<br>
<center><br></center><center><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/vestidodevieja1.jpg"></center> <center></center>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=1291224724593340251&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>0</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=1291224724593340251&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=1291224724593340251&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
<div class="biblioteca"></div>
</div>
<a name="3545787256213562445"></a>
<h4>
<span class="date">lunes, 23 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/te-arrancaria-la-cabeza-como-hizo-ozzy.html">Te arrancaría la cabeza como hizo ozzy osbourne</a></h2>
<div class="post-body">
<br>
<center style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/bandera.jpg"></center><br>
De chica me encantaba acompañar al banco a mi mamá porque me robaba las boletas de depósito del banco Lloyd´s para jugar en mi casa. Hoy fui a hacer un trámite y los odié. Los odié, los odié. Y mientras los odiaba, me puse a pensar en el cliente. En que yo y un montón de personas más somos clientes, y no me están tratando muy bien y no me están solucionando los problemas que estoy teniendo. Estoy en crisis con mi banco. Y pensé, bueno capaz es porque el trato que llevamos es medio informal dentro de lo formal y por eso es que por ahí no me tratan como yo veía que la trataban a mi vieja cuando íbamos al banco. Obvio, no es lo mismo. Pero no me gustó porque no me están ayudando. Además de eso, estuve esperando un rato largo. Al chico que llegó después que yo lo atendieron antes y una mina que llegó de afuera "paso a saludar", preguntó si la podían atender, el que atiende le dijo que tenía otras personas antes que ella, O SEA YO (porque no había nadie más). Y la atendió igual...estaba pintada. Después de que le pregunté a la recepcionista quien me tenía que atender, porque capaz que no era el que atendió a la colada, me atiende una chica que no se hace cuanto trabajaba ahí, pero tuvo que consultar con otra persona todo lo que le pregunté. Además me miraba como con miedo. Yo no estaba histérica, solamente estaba apurada y medio indignada porque se me había colado una mina y estaban tardando en atenderme, además de todo lo que no me están solucionando. En síntesis, me fui sin que me solucionen nada. Ahora odio ir al banco..<br>
Cambiando de tema, como verán tengo calzas nuevas y son super cómodas, calentitas y el estampado esta muy bien hecho. Son de Fantasy Seven, y para las que no fueron a la feria y quieren unas, siempre pueden escribir y preguntar si hay, o donde se consiguen. En este estampado también hay unas remeras. Pronto van a poder ver el lookbook.<br>
<span style="background-color: white;">Y hoy, conseguí este hermoso librito del cual ya sabía su existencia. El autor es un antiguo compañero de facultad que durante todos los años que lo ví, siempre me llamó la atención. Es una persona super creativa, alegre y especial. Es uno de los humus, de cine humus. Grupo de cine que hace cortos y películas muy muy lindas y para todos. Les dejo los links porque no tienen desperdicio: </span><a href="http://www.cinehumus.com.ar/">Cine Humus</a><span style="background-color: white;"> &amp; </span><a href="http://tanlargaspestagnas.wordpress.com/">Tan largas Pestagnas</a><span style="background-color: white;">. Cine lindo y chistes, lo ideal para alegrar cualquier momento. Me hubiera venido genial acordarme que lo tenía mientras estaba en el banco.&nbsp;</span><br>
<br>
<br>
<br>
   <br>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style=""><tbody>
<tr><td style="text-align: center;"><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/bandera3.jpg" style="margin-left: auto; margin-right: auto;"></td></tr>
<tr><td class="tr-caption" style="">(calza fantasy seven, buzo sin marca, campera blackmamba, gorro vulk, zapas puma)</td></tr>
</tbody></table>
<br>
<br>
<br>
<br>
<center><br><br><span style="font-family: Georgia, 'Times New Roman', serif;"><br></span></center>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>3</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=3545787256213562445&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<a name="4706534865331342968"></a>
<h4>
<span class="date">viernes, 20 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/la-grasa-va-y-viene-como-la-plata.html">La grasa va y viene, como la plata</a></h2>
<div class="post-body">
Ese hermoso momento íntimo y femenino en el que te tocás las tetas y te asustas, te sorprendés, te pones contenta y decís: "ay, no lo puedo creer, me crecieron las tetas!". No, que terrible, no. No te crecieron las tetas. Probablemente sea una señal de que el invierno fue tan bueno con vos que te llevó grasa hasta ahí. Sí, lamentablemente es grasa. Es una prueba visual de que engordaste un toque y además, porque a los 28 años ya no te crecen. <br>Después de ese momento de desilusión y bronca por no tener una delantera capaz de entretener a 5 bebés al mismo tiempo en un futuro, te conformás y agradeces a dicha grasa acumulada sólo por haberte hecho feliz un rato, y hasta que se te vayan. (Porque se va a ir).<br>En mi caso, creo que me pasa unas 2 veces al año y siempre hago lo mismo. Lo corroboro con mi novio. "Che mi amor, tengo las tetas mas grandes no?" (BUE, MAS "GRANDES") Y bueno, no le queda otra que tantear por enésima vez, sabiendo que es algo totalmente pasajero, que no va a durar nada y que lo mas probable, es que sea todo una ilusión mía. Pobre. Que triste la realidad de un novio que tiene por novia unas tetas no tan...como decirlo...zarpadas en volumen? Creo que todo este post viene a que ayer haciendo zapping en nat geo vi el programa tabú, en donde a una chica de 30 años se le había complicado una silicona y la tuvieron que operar de urgencia. Con que se le había complicado quiero decir que literalmente la silicona se le estaba filtrando y saliendo por donde le habían hecho un drenaje. Tenía tanta teta como lia crucet en un cuerpo pequeño. Ah! y además de eso, se había hecho sacar 2 costillas para tener la cintura mas chica. Otra que Thalía y su mito latinoamericano. Bueno, que se yo si es verdad ese programa o no, cuestión que me impresionó tanto que casi me baja la presión. Justo cerré los ojos cuando le estaban sacando el implante por el pezón y cuando los volví a abrir enganché una vista horrible de carne llena de sangre. Peor, casi me baja mas la presión. Menos mal que estaba tirada en la cama.<br>Y en esos momentos de bajón de presión y todo, es donde pienso que menos mal que nunca sentí las ganas de operármelas porque no sería la misma. Tendría que competir contra un pedazo de plástico metido en mi cuerpo, a ver quien entra más rápido. Si mi nariz o mis siliconas. Eso en parte es gracias a mi familia y mi educación que nunca me metieron eso en la cabeza. Mientras mas natural, mejor<br>Entonces, es en esos momentos de grasa invernal acumulada (chocolates, cerveza, lentejas, cama, té, galletitas, mas té, puré de papa, merienda zarpada, dulce de leche. Ahora entiendo todo) en las tetas, es en los que me siento contenta porque por lo menos se me hincharon un toque, lo suficiente como para divertirme un rato de manera sana. Aguanten las tetas standard y naturales, que así son mas lindas y hace mas lindas a las mujeres. O no?<br><br><br> <img src="http://i695.photobucket.com/albums/vv311/florgrzetic/rayasyjean.jpg"> <br><br>(calzas fantasy seven, camiseta y remera sin marca, camisa bachino, campera blackmamba, zapas reebok)<br>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=4706534865331342968&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>7</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=4706534865331342968&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=4706534865331342968&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<a name="5807502232633759417"></a>
<h4>
<span class="date">miércoles, 18 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/dormir-y-mirar-seinfeld.html">dormir y mirar seinfeld.-</a></h2>
<div class="post-body">
Hoy me sonó el despertador y pensé que era domingo. No entendía nada, siempre pasa lo mismo. No sé realmente por qué pasa, en qué nos quedamos pensando antes de dormirnos o qué se nos mete en la cabeza cuando estamos en pleno sueño?<br><br>Como podrán adivinar, no hice mucho en este fin de semana largo más que tomar cerveza, dormir y mirar seinfeld. No soy amiga de irme de viaje los feriados ni nada, siempre me quedo acá y no hago nada. De nada, de nada. Por suerte tengo un trabajo que me permite hacerlo, así que a la nada, la disfruto más. Ni siquiera salí a andar en bici para que se den una idea. Y la semana pasada no fui a boxeo en toda la semana. O sea, mis ganas de no hacer nada vienen desde hace rato. Y en este preciso momento, me encantaría tirarme a dormir en el sillón, pero bueno.... no. <br><br>Estoy como balbuceando, no tengo nada interesante para decirles. La verdad es que a veces siento que los aburro y que me la paso diciendo boludeces. Me pregunto si realmente leen esto y quienes son los que leen porque hay veces que ni yo me leería. O estoy bloqueada o sigo con la vagancia mental y física.<br><br>Les dejo 2 ferias para este sábado 14:<br><br>. <a href="https://www.facebook.com/pages/FANTASY-SEVEN/250340505020530">Fantasy Seven </a>// pedir dirección x inbox. Hay calzas muy copadas.<br>.<a href="https://www.facebook.com/photo.php?fbid=437769636263054&amp;set=p.437769636263054&amp;type=1&amp;theater"> Venta de Garash II</a>  // acá les recomiendo buscar los gorritos <a href="https://www.facebook.com/waliki.gorritoscaseros">Waliki </a> que son hermosamente coloridos.<br><div class="separator" style="clear: both; text-align: center;">
<br></div>
<div class="separator" style="clear: both; text-align: center;">
<br></div>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style=""><tbody>
<tr><td style="text-align: center;"><a href="http://4.bp.blogspot.com/-goZ_4p9eHlo/UAc8Jp_05hI/AAAAAAAAACA/f7rEagWVKIU/s1600/fluo1-1.jpg" imageanchor="1" style="margin-left: auto; margin-right: auto;"><img border="0" height="640" src="http://4.bp.blogspot.com/-goZ_4p9eHlo/UAc8Jp_05hI/AAAAAAAAACA/f7rEagWVKIU/s640/fluo1-1.jpg" width="425"></a></td></tr>
<tr><td class="tr-caption" style=""><span style="font-family: Georgia, 'Times New Roman', serif; font-size: 12px; line-height: 18px;">(calzas ceilonia, musculosa y remera zara, bufanda/tela comprada once, zapas reebok)</span></td></tr>
</tbody></table>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=5807502232633759417&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>0</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=5807502232633759417&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=5807502232633759417&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<a name="4819810497138057185"></a>
<h4>
<span class="date">lunes, 16 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/eso-que-no-sabes-si-es-emocion-o.html">Eso que no sabes si es emoción o capricho, o amor a primera vista</a></h2>
<div class="post-body">
La semana pasada vi este enterito en <a href="https://www.facebook.com/pages/Pesqueira-/407055573688">Pesqueira</a> y me enamoré. Fui, averigué y a los días volví y me lo compré. Es una línea especial para lycra sport (para la cual también diseñaron algo los Hnos. Estebecorena) y es lo más cómodo del mundo. La lycra es gruesa, es talle único pero calculo que se adapta a muchos cuerpos, tiene elástico en la zona del corpiño para que aguante y sea cómodo para hacer ejercicio. Y lo más lindo, la estampa. <br>Estaba este de los tigres y otro de unos búhos, y también hay calzas y remeras. Único color eso si. <br>Elegí el enterito porque cada vez que me pongo uno, me doy cuenta que es la posta para el invierno. Estoy todo el día en la bici y la verdad que con la calza común si no es tiro alto, me entra frío por todos lados y es incómodo. Además me encantó apenas lo vi y desde el año pasado que estaba en busca de un enterito de pesqueira. Sé que un color claro en las piernas de una caderona no es lo ideal, pero siempre tenemos la opción de disimularlo. No sé si este es el caso igualmente, pero bueno. Acá está y me encanta. <br>Ah! otra cosa por la cual las botas de blackmamba son tan geniales, el aplique de tachas se le puede sacar así no te cansas. Son como 2 botas en una. Esta última parte se puede leer con tono de mucho entusiasmo...<br><br><br><br>
<center><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/tigres2.jpg"></center>  <center></center> <center></center>  <center><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/tigres.jpg"></center><center><br></center><center><span style="font-family: Georgia, 'Times New Roman', serif;">(enterito pesqueira, sweater zara, buzo sin marca, campera y botas blackmamba, gorrito de lana de once)</span></center>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=4819810497138057185&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>4</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=4819810497138057185&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=4819810497138057185&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
<div class="flora"></div><div class="premio"></div>
</div>
<a name="8279729608986455220"></a>
<h4>
<span class="date">jueves, 12 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/el-premio-mi-perseverancia-femenina.html">El premio a mi perseverancia femenina para mí es una birra bien fría y papas fritas.</a></h2>
<div class="post-body">
El domingo post-masa crítica tuve tanta suerte que se me pincharon ambas cámaras de la bici. Sí, las 2 al mismo tiempo. Me dí cuenta porque el manubrio estaba rarísimo, como que me tiraba para un costado y no entendía nada. Me bajo, veo que esta completamente desinﬂada al ras del piso, la inﬂo...se queda. Veo la de atrás, desinﬂada también, la inﬂo, no se inﬂa. En el inter in de que la estoy inﬂando, la pollera del vestido se me engancha con el pedal de la bici de mi amiga Nat. Se me ve un poquito el culo, esta bien. Encaro para una estación de servicio y entonces veo un pelado con un le pregunto si me lleva hasta mi casa. Me dice que no, que me deja en el mercado de pulgas adonde va el y no me cobra nada. <br>
<br>
<table align="center" cellpadding="0" cellspacing="0" class="tr-caption-container" style=""><tbody>
<tr><td><a href="http://4.bp.blogspot.com/-ERhTsG8rmwg/T_8CS2jQ68I/AAAAAAAAABY/YtKLUOYXQyw/s1600/imagen-post-01.png" imageanchor="1" style="background-color: white; margin-left: auto; margin-right: auto;"><img border="0" height="640" src="http://4.bp.blogspot.com/-ERhTsG8rmwg/T_8CS2jQ68I/AAAAAAAAABY/YtKLUOYXQyw/s640/imagen-post-01.png" width="412"></a></td></tr>
<tr><td class="tr-caption" style=""><span style="background-color: white;">(vestido hecho pollera complot, bodys la noche, cinturón sin marca, zapas puma, bandana dts)&nbsp;</span></td></tr>
</tbody></table>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=8279729608986455220&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>0</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=8279729608986455220&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=8279729608986455220&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>
<div class="post-outer">
<div class="post-labels">
</div>
<a name="1143862985713165108"></a>
<h4>
<span class="date">martes, 10 de julio de 2012</span>
<span class="biblioteca-tag">la biblioteca de flora</span>
<span class="portfolio-tag">portfolio</span>
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/2012/07/dormir-y-mirar-seinfeld_10.html">
</a></h2>
<div class="post-body">
<span style="font-family: Georgia, 'Times New Roman', serif; font-size: x-large;"><b><br></b></span><br>
<span style="font-family: Georgia, 'Times New Roman', serif; font-size: x-large;"><b>dormir y mirar seinfeld.-</b></span><br>
<br>
<span style="font-family: Georgia, 'Times New Roman', serif;">Hoy me sonó el despertador y pensé que era domingo. No entendía nada, siempre pasa lo mismo. No sé realmente por qué pasa, en qué nos quedamos pensando antes de dormirnos o qué se nos mete en la cabeza cuando estamos en pleno sueño?</span><br>
<span style="font-family: Georgia, 'Times New Roman', serif;">Como podrán adivinar, no hice mucho en este fin de semana largo más que tomar cerveza, dormir y mirar seinfeld. No soy amiga de irme de viaje los feriados ni nada, siempre me quedo acá y no hago nada. De nada, de nada. Por suerte tengo un trabajo que me permite hacerlo,&nbsp;así&nbsp;que a la nada, la disfruto más. Ni siquiera salí a andar en bici para que se den una idea. Y la semana pasada no fui a boxeo en toda la semana. O sea, mis ganas de no hacer nada vienen desde hace rato. Y en este preciso momento, me encantaría tirarme a dormir en el sillón, pero bueno.... no.&nbsp;</span><br>
<span style="font-family: Georgia, 'Times New Roman', serif;">Estoy como balbuceando, no tengo nada interesante para decirles. La verdad es que a veces siento que los aburro y que me la paso diciendo boludeces. Me pregunto si realmente leen esto y quienes son los que leen porque hay veces que ni yo me leería. O estoy bloqueada o sigo con la vagancia mental y física.</span><br>
<span style="font-family: Georgia, 'Times New Roman', serif;"><br></span><br>
<span style="font-family: Georgia, 'Times New Roman', serif;">Les dejo 2 ferias para este sábado 14:</span><br>
<span style="font-family: Georgia, 'Times New Roman', serif;"><br></span><br>
<span style="font-family: Georgia, 'Times New Roman', serif;">. <a href="https://www.facebook.com/pages/FANTASY-SEVEN/250340505020530">Fantasy Seven</a>&nbsp;//&nbsp;pedir dirección x inbox. Hay calzas muy copadas.</span><br>
<span style="font-family: Georgia, 'Times New Roman', serif;">. <a href="https://www.facebook.com/photo.php?fbid=437769636263054&amp;set=p.437769636263054&amp;type=1&amp;theater">Venta de Garash II</a>&nbsp; // acá les recomiendo buscar los gorritos <a href="https://www.facebook.com/waliki.gorritoscaseros">Waliki&nbsp;&nbsp;</a>&nbsp;que son hermosamente coloridos.</span><br>
<br>
<br>
<center><img src="http://i695.photobucket.com/albums/vv311/florgrzetic/fluo1-1.jpg"><br><br><span style="font-family: Georgia, 'Times New Roman', serif;">(calzas ceilonia, musculosa y remera zara, bufanda/tela comprada once, zapas reebok)</span></center>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;postID=1143862985713165108&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>13</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=1143862985713165108&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;postID=1143862985713165108&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
</div>

