<div class="post-outer">
<div class="post-labels">
</div>
<a name="1051042950191390114"></a>
<h4 class="fecha">
</h4>
<h2><a href="http://flora-test.blogspot.com.ar/p/que-hace-esta-chica.html">¿qué hace esta chica?</a></h2>
<div class="post-body">
Flora en este momento tiene 28 años. Nacida y criada en Río Gallegos, vive en capital federal desde el 2001. Le es difícil llenar el casillero de "profesión" o "a que se dedica" así que prefiere dejarlo en suspenso hasta que se decida. Es una de las personas responsables de <a href="http://www.onthecorner.com.ar/">OnTheCorner</a> y <a href="http://www.hellocrudo.com/">Crudo</a>.<br><br>Es poco cariñosa, aunque tiene sus momentos. Cree que todo pasa por una razón, que todo significa algo y que todo vuelve. El amor es lo que desea para toda su vida. En todo sentido.<br><div>
<br></div>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://i695.photobucket.com/albums/vv311/florgrzetic/lechugacopia.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="476" src="http://i695.photobucket.com/albums/vv311/florgrzetic/lechugacopia.jpg" width="640"></a></div>
<div>
<br></div>
</div>
<div class="post-social">
<div class="post-social-left">
<a class="comment-link" href="http://www.blogger.com/comment.g?blogID=9071745704445146524&amp;pageID=1051042950191390114&amp;isPopup=true" onclick="javascript:window.open(this.href, &quot;bloggerPopup&quot;, &quot;toolbar=0,location=0,statusbar=1,menubar=0,scrollbars=yes,width=400,height=450&quot;); return false;">
<span>0</span>
        COMENTARIOS
</a>
</div>
<div class="post-social-right">
<p>COMPARTIR</p>
<div class="redes">
<a class="fb" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;pageID=1051042950191390114&amp;target=facebook" onclick="window.open(this.href, &quot;_blank&quot;, &quot;height=430,width=640&quot;); return false;" target="_blank" title="compartir en facebook">
          FACEBOOK
        </a>
<a class="tw" href="http://www.blogger.com/share-post.g?blogID=9071745704445146524&amp;pageID=1051042950191390114&amp;target=twitter" target="_blank" title="compartir en twitter">
          TWITTER
        </a>
</div>
</div>
</div>
<div class="comments" id="comments">
<a name="comments"></a>
<div id="Blog1_comments-block-wrapper">
<ul class="comments-list">
</ul>
</div>
<div class="comment-footer">
</div>
</div>
</div>
