<ul class="links">
  <li><a href="/search/label/portfolio">portfolio</a></li>
  <li><a href="http://onthecornerstreetstyle.blogspot.com.ar/">on the corner</a></li>
  <li><a href="http://www.hellocrudo.com/">crudo management</a></li>
</ul>
<div class="contact-box">
  <h3>contacto</h3>
  <a href="mailto:esoesmuyflora@gmail.com">esoesmuyflora@gmail.com</a>
</div>

